$red: red;
$grayOpaque: #7f7f7f;





.videoLinks {
    a.hover{
    color: white;
    font-weight: 30;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: none;
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 100px;
    border-spacing: 20px;
    }
}